@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(213, 100%, 98%);
  --color-neutral-300: hsl(222, 87%, 94%);
  --color-neutral-400: hsl(216, 82%, 93%);
  --color-neutral-500: hsl(227, 37%, 74%);
  --color-neutral-700: hsl(235, 10%, 56%);
  --color-neutral-800: hsl(251, 7%, 33%);
  --color-neutral-900: hsl(243, 31%, 12%);

  --font-color: var(--color-neutral-800);
  --font-family: "Poppins", sans-serif;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a,
button {
  color: inherit;
  cursor: pointer;
  font: inherit;
}

:is(a, button):is(:hover, :focus-visible) {
  scale: 1.05;
}

.visually-hidden {
  position: absolute;
  top: -10000em;
  visibility: hidden;
}

body {
  background-color: var(--color-neutral-200);
  color: var(--font-color);
  display: grid;
  font-family: var(--font-family);
  min-height: 100dvh;
  place-content: center;
}

.main {
  max-width: 22.5em;
  min-height: 32em;
  width: calc(100vw - 1em);
}

.main__button {
  aspect-ratio: 1;
  background-color: var(--color-neutral-100);
  border: 0.5em solid var(--color-neutral-400);
  border-radius: 0.5em;
  display: flex;
  margin-block-end: auto;
  margin-inline-start: auto;
  width: 4em;
}

.main__button > svg {
  fill: var(--color-neutral-900);
  margin: auto;
  scale: 1.4;
  width: 100%;
}

.downloads {
  background-color: var(--color-neutral-100);
  border-radius: 1em;
  box-shadow: 0 1em 1em var(--color-neutral-400);
  display: grid;
  margin-block-start: 0.5em;
  padding: 2em;
}

.downloads[hidden="true"] {
  display: none;
}

.downloads__storage {
  background-color: var(--color-neutral-200);
  border: 1px solid var(--color-neutral-300);
  border-radius: 1em;
  padding: 1em;
}

.downloads__storage > h2 {
  font-size: 1.1rem;
}

.storage__bar {
  background-color: var(--color-neutral-100);
  border: 2px solid var(--color-neutral-300);
  border-radius: 1000em;
  height: 1em;
  padding: 1px;
  position: relative;
  width: 100%;
}

.bar__filled {
  background-color: var(--color-neutral-900);
  border-radius: inherit;
  height: 100%;
  width: 25%;
}

.downloads__storage > small {
  font-weight: var(--font-weight-medium);
}

.downloads__process {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  place-content: start;
  gap: 1em;
  padding-block: 1em;
}

.process__icon-border {
  background-color: var(--color-neutral-300);
  border-radius: 50%;
  padding: 4px;
}

.process__icon {
  aspect-ratio: 1;
  background-color: var(--color-neutral-100);
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: relative;
  width: 2em;
}

.downloads__process[data-process="syncing"] .process__icon-border,
.downloads__process[data-process="syncing"] .process__icon {
  background-color: #6ea91c;
}

.downloads__process[data-process="updating-cloud"] .process__icon-border {
  background: conic-gradient(
    var(--color-neutral-900) 13%,
    var(--color-neutral-300) 13%
  );
}

.process__content {
  width: 100%;
}

.process__content {
  font-size: 0.9rem;
}

.process__content > h2 {
  font-size: inherit;
}

.process__settings-button {
  background-color: transparent;
  border: 0;
  display: grid;
  padding: 0.5em;
  place-content: center;
}

.process__settings-button > svg {
  fill: var(--color-neutral-500);
  scale: 1.2;
}

.downloads > a {
  border: 2px solid var(--color-neutral-500);
  border-radius: 0.25em;
  color: var(--color-neutral-900);
  display: block;
  font-size: 0.8rem;
  font-weight: var(--font-weight-medium);
  padding: 1em;
  text-align: center;
  text-decoration: none;
  width: 70%;
}
